[submodule "font-awesome-5"]
	path = font-awesome-5
	url = https://github.com/FortAwesome/Font-Awesome.git
	branch = 5.x
[submodule "font-awesome-6"]
	path = font-awesome-6
	url = https://github.com/FortAwesome/Font-Awesome.git
	branch = 6.x
